header img {
    width: 300px;
    height: 48px;
    margin-top: 60px;
    align-self: center;
}


.card-container {
    width: 360px;
    text-align: justify;
}

.flex-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-title-short {
    justify-content: center;
    gap: 20px;
}

.card-title,.card-icon {
    
    flex-direction: row; 
}

.card-detail {
    width: 90%;
    margin: 15px auto;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    max-width: 1024px;
    margin: 0 auto;
}

.slider-section-sm {
    width: 100%;
}

.slider-section {
    overflow-x: hidden;
    justify-content: space-evenly;
    gap: 0;
}

